<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: navbar"></nav>




<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 mt-4">


      <form method="POST" th:action="@{/qualifications/create}" th:object="${qualification}">

        <div class="mb-3">
          <label for="qualificationName">Qualification Name</label>
          <input class="form-control" type="text" th:field="*{qualification}" id="qualificationName" required>
          <span class="text-danger" th:id="${#fields.hasErrors('qualification')}" th:errors="*{qualification}">Qualification Name Error</span>
        </div>


        <div class="text-center mb-3">
          <button class="btn btn-success fs-4" type="submit">Create</button>
        </div>
      </form>


    </div>
  </div>
</div>




<footer th:replace="fragments :: footer"></footer>
</body>

</html>