<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>


<h4 th:if="${persons.size()>0}" th:text="'Persons: ' + ${persons.size()}"> </h4>

<div class="col-6">
    <h3 th:unless="${persons} and ${persons.size()}">There are no persons!</h3>

    <table th:if="${persons.size()>0}" class="table table-hover">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>

        <tr th:each="person : ${persons}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.phoneNumber}"></td>
        </tr>
    </table>
</div>


<footer th:replace="fragments :: footer"></footer>
</body>

</html>