<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: navbar"></nav>

<div class="container-fluid">


    <div class="row justify-content-center mt-5">
        <div class="col-sm-7">

            <form method="POST" th:action="@{/persons/update/{id}(id=${id})}" th:object="${person}">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" th:field="*{username}" id="username" required>
                    <span class="text-danger" th:id="${#fields.hasErrors('username')}" th:errors="*{username}">First Name Error</span>
                </div>
                <div class="mb-3" hidden>
                    <label for="password">Password</label>
                    <input class="form-control" type="text" th:field="*{password}" id="password" required>
                    <span class="text-danger" th:id="${#fields.hasErrors('password')}" th:errors="*{password}">First Name Error</span>
                </div>


                <div class="mb-3">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName" required>
                    <span class="text-danger" th:id="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                </div>
                <div class="mb-3">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName" required>
                    <span class="text-danger" th:id="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber">Phone Number</label>
                    <input class="form-control" type="text" th:field="*{phoneNumber}" id="phoneNumber" required>
                    <span class="text-danger" th:id="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Last Name Error</span>
                </div>

                <div class="text-center mb-3">
                    <button class="btn btn-success fs-4" type="submit">Update</button>
                </div>
            </form>



            <form method="POST" th:action="@{/persons/addMV/{id}(id=${id})}" th:object="${person}">
                <div class="row g-2">
                    <div class="col col-sm-6">
                        <select class="form-select" th:name="mvVin">
                            <option hidden disabled selected value="-1">MVs</option>
                            <option th:each="mv : ${mvs}" th:value="${mv.vin}" th:text="${mv.vin} + ' - ' + ${mv.model.model}"></option>
                        </select>
                    </div>

                    <div class="col col-sm-3">
                        <button class="btn btn-info" type="submit">Add MV</button>
                    </div>
                </div>


                <div class="table-responsive">
                    <table th:if="${person.mvList.size()>0}" class="table table-bordered table-striped table-hover table-sm mt-2">
                        <thead class="table-dark">
                        <th>VIN</th>
                        <th>Registration Plate</th>
                        <th>Year Made</th>
                        <th>Model</th>
                        <th>Brand</th>

                        <th>#Delete</th>
                        </thead>

                        <tbody>
                        <tr th:each="mv : ${person.mvList}">
                            <td th:text="${mv.vin}"></td>
                            <td th:text="${mv.registrationPlate}"></td>
                            <td th:text="${mv.yearMade}"></td>
                            <td th:text="${mv.model.model}"></td>
                            <td th:text="${mv.model.brand.brand}"></td>

                            <td class="text-center"><a href="#" class="btn btn-danger">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>



        </div>
    </div>


</div>




<footer th:replace="fragments :: footer"></footer>
</body>

</html>